<%= simple_form_for @order, :validate => true do |f| %>
    <%= f.error_notification %>
 <fieldset class = "steps">
   <legend><%= t '.order' %></legend>
	<%= label_tag 'test', nil, id: 'test'%>
    <%= simple_format @calc.first_step.to_s %>
    <%= f.input :human_count, collection: @human_counts, include_blank: false %>
    <%= f.input :size, collection: @sizes, :include_blank => false %>
    <%= f.input :frame, collection: @frames, :include_blank => false,
						hint: t(".right_frame") %>
    <%= f.input :gel, as: :radio_buttons %>
    <%= simple_format @calc.comments.to_s %>
    <%= f.input :comments, :as => :text, :input_html => { rows: 5 }, label: false %>
 </fieldset>

  <fieldset class = "steps">
   <legend><%= t '.data' %></legend>
    <%= simple_format @calc.second_step.to_s %>
    <%= label_tag t('change_pic'), nil, id: 'change_pic' %>
    <%= check_box_tag 'change_picture', value = @picture, checked = true, hidden: true %>
    <div id = "picture_block">
	    <%= f.label 'picture'%>
	    <div class="controls">
	      <%= select_tag 'photo_pictures', options_from_collection_for_select(
	  	   PhotoPicture.all, "id", "t_name", @category), class: "select required" %>
	      <%= f.select :picture_id, option_groups_from_collection_for_select(
		PhotoPicture.order(:name), :pictures, :t_name, :id, :name, @picture) %>
	    </div>
    </div>
    <div id = "photos">
	<%= f.label 'image' %>
	<%= f.simple_fields_for :picture_user_photos, :html =>
				{ :multipart => true } do |p| %>
		<%= render 'picture_user_photo_fields', f: p %>
	<% end %>
	<div class = "links" >
	    <%= link_to_add_association t('.add_fields'), f, :picture_user_photos %>
	</div>
    </div>
  </fieldset>

 <fieldset class = "steps">
   <legend><%= t '.user' %></legend>
    <%= simple_format @calc.third_step.to_s %>
    <%= f.input :user_name, :validate => { :presence => true } %>
    <%= f.input :user_mname %>
    <%= f.input :user_surname, validate: true %>
    <%= f.input :user_email, hint: "example@mail.com", validate: true %>
    <%= f.input :user_address %>
    <%= f.input :user_tel, validate: true %>
    <%= f.input :price, as: :hidden %>
  </fieldset>
      <%= f.button :submit, t('.ordered'), id: 'submit', class: "btn btn-large btn-warning" %>
<% end %>
