<div class="row">
  <div class="span3">
	<%= render "form"%>
  </div>

  <div class="span6 order_right">
     <div id = "frame_types"
	<%= label_tag t('.price_before'), nil, id: 'price_before' %>
	<%= label_tag 'price', nil, id: 'price' %>
	<%= label_tag t('.price_after'), nil, id: 'price_after' %>
	<%= label_tag t "frames" %>
	<%= image_tag 'picture_frame_types.png', size: "500x500"  %>'
     </div>
     <div id = "picture">
    	<%= image_tag 'pic', id: 'picture' %>
     </div>
  </div>
</div>
