<% title t '.order' %>
<dl class="dl-horizontal">
<h4>
  <dt><strong><%= t('.order_made') %></strong></dt>
  <dd><%= @picture_order.created_at.to_date.to_s %></dd>
  <dt><strong><%= t('.price') %></strong></dt>
  <dd><%= @picture_order.price  %></dd>
  <dt><strong><%= t('.status') %></strong></dt>
  <dd><%= t @picture_order.status  %></dd>
</h4>
  <dt><strong><%= t('.human_count') %></strong></dt>
  <dd><%= @picture_order.human_count %></dd>
  <dt><strong><%= t('.size') %></strong></dt>
  <dd><%= @picture_order.size %></dd>
  <dt><strong><%= t('.frame') %></strong></dt>
  <dd><%= @picture_order.frame %></dd>
  <dt><strong><%= t('.gel') %></strong></dt>
  <dd><%= t t("#{@picture_order.gel}_val")  %></dd>
  <dt><strong><%= t('.picture') %></strong></dt>
  <dd><%= image_tag @picture.image_mini %></dd>

  <dt><strong><%= t('.photo') %></strong></dt>
   <% @images.each do |img| %>
  <%= image_tag img.image_url, size: '200x200' %>
  <% end %>
  <dd><%= @picture_order.comments %></dd>

  <dt><strong><%= t('.user_name') %></strong></dt>
  <dd><%= @picture_order.user_name %></dd>
  <dt><strong><%= t('.user_mname') %></strong></dt>
  <dd><%= @picture_order.user_mname %></dd>
  <dt><strong><%= t('.user_surname') %></strong></dt>
  <dd><%= @picture_order.user_surname %></dd>
  <dt><strong><%= t('.user_email') %>:</strong></dt>
  <dd><%= @picture_order.user_email %></dd>
  <dt><strong><%= t('.user_tel') %>:</strong></dt>
  <dd><%= @picture_order.user_tel %></dd>
  <dt><strong><%= t('.user_address') %>:</strong></dt>
  <dd><%= @picture_order.user_address %></dd>
</dl>
</div>
