<%= form_for [@picture_category, @picture], :html =>
		{ :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :foto_category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :foto_category_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :foto_path, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :foto_path, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pictures_path, :class => 'btn' %>
  </div>
<% end %>
