<%= title t @page.name %>
<%= paginate @Photo_pictures %>
<% @Photo_pictures.each do |picture| %>
   <div class = "image">
	<%= link_to photo_picture_path(@picture_category, picture) do%>
		<div class = "pic_name" > <%= picture.name %> </div>
		<%= image_tag picture.image.to_s, size: "150x100" %>
	<% end %>
   </div>
<% end %>
