<%= title @picture.title %>
</br>
<%= simple_format @picture.text.to_s%>
</br>
<%= button_to t('.order'), photo_picture_order_path %>
<div>
	<%= image_tag @picture.image.to_s, alt: @picture.alt%>
</div>
</br>
<%= simple_format @page.content.to_s%>
