<!DOCTYPE html>
<html>
<head>
  <title>Diem</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
    	<div class="row">
	   <div class="span4">
		<div class = "pull-right" >
			<%= image_tag("cd2.jpg")%>
		</div>
	   </div>
	   <h4>
	   <div class="span8 menu">
		<ul class="nav nav-pills">
		   <li class="active"><%= link_to t('.home'), root_path%></li>
	           <li><%= link_to t('.pictures'),
			picture_category_pictures_path(PictureCategory.first) %></li>
	           <li><%= link_to t('.about_us') %></li>
	           <li><%= link_to t('.contacts') %></li>
	           <li><%= link_to t('.order'), new_picture_order_path %></li>

		</ul>
	   </div>
	   </h4>
	</div>
	      <div class="row">
    		<div class="span2">
		  <% if request && request.url.include?("picture_categories") %>
			  <ul class="nav nav-tabs nav-stacked">
				<% PictureCategory.all.each do |category| %>
				  <li><%= link_to category.name,
				picture_category_pictures_path(category) %></li>
				<% end %>
			  </ul>
		<% end %>
    		</div>
    		<div class="span10">
	    		<div id="flash">
	    			<% flash.each do |key, value| %>
		  			<div class="flash <%= key %>"><%= value %></div>
				<% end %>
        		</div>
        		<%= yield %>
    		</div>
    	</div>
    </div>
</body>
      <%= debug(params) if Rails.env.development? %>
</html>
