<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)+' -' unless yield(:title).blank? %> Carpe Diem</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"></script>
  <meta name="google-site-verification" content="4nuxYuLobVIe-nKa-
					WPk4JcsR9zjx16XIhiW-bsWIeE" />
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36096893-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>

<body>
    <div class="container">
    	<div class="row">
		<%= link_to root_path do %>
			<div id="logo">
				<%= image_tag("logo.jpg")%>
			</div>
		<% end %>
	</div>
    </div>

    <div class="container-fluid orange">
	<div class="row-fluid">
	   <div class="span4">
		&nbsp;
	   </div>

	   <div class="span8 menu">
		<ul id = "menu" class="nav nav-pills">
		   <li><%= link_to t('.home'), page_path('home') %></li>
	           <li><%= link_to t('.pictures'), photo_pictures_path %></li>
	           <li><%= link_to t('.about'), page_path('about') %></li>
	           <li><%= link_to t('.contacts'), page_path('contacts') %></li>
	           <li><%= link_to t('.order'), new_picture_order_path %></li>
		</ul>
	   </div>
	</div>
      </div>
    </div>

    <div class="container">
	<div class="row main">
		<div class="span3 ">
		    <div id = "left">
			&nbsp;
			  <% if request && request.url.include?("photo_picture") %>
				  <div id = "submenu">
				  	<%= t('.categories') %>
				  </div>
				  <ul class="nav nav-tabs nav-stacked">
					<% PhotoPicture.all.each do |category| %>
					  <li><%= link_to category.t_name,
					photo_picture_path(category) %></li>
					<% end %>
				  </ul>
			<% end %>
		    </div>
		    <div id="socials">
			<div id="fb-root"></div>
			<div class="g-plus" data-width="270"
	data-href="//plus.google.com/104671163297724987053" data-rel="publisher"></div>
		    </div>

		</div>
		<div class="span9">
			<div id="flash">
				<% flash.each do |name, msg| %>
				  <div class="alert alert-<%= name == :notice ?
						  "success" : "error" %>">
				    <a class="close" data-dismiss="alert">×</a>
				    <%= msg %>
				  </div>
				<% end %>
			</div>
			<%= yield %>
		</div>
    	</div>

    </div>

    <div class="container-fluid footer">
	<div class="row-fluid copy">
		&copy Carpe Diem 2012
	</div>
    </div>
</body>
      <%= debug(params) if Rails.env.development? %>
</html>
