<!DOCTYPE html>
<html>
<head>
  <title>Carpe Diem - <%= yield(:title) || (t".title") %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
</script>
</head>

<body>
    <div class="container">
    	<div class="row">
		<%= link_to root_path do %>
			<div id="logo">
				<%= image_tag("cd2.jpg")%>
			</div>
		<% end %>
	</div>
    </div>

    <div class="container-fluid orange">
	<div class="row-fluid">
	   <div class="span4">
		&nbsp;
	   </div>

	   <div class="span8 menu">
		<ul id = "menu" class="nav nav-pills">
		   <li><%= link_to t('.home'), page_path('home') %></li>
	           <li><%= link_to t('.pictures'), photo_pictures_path %></li>
	           <li><%= link_to t('.about'), page_path('about') %></li>
	           <li><%= link_to t('.contacts'), page_path('contacts') %></li>
	           <li><%= link_to t('.order'), new_picture_order_path %></li>
		</ul>
	   </div>
	</div>
      </div>
    </div>

    <div class="container">
	<div class="row">
		<div class="span3">
			&nbsp;
		  <% if request && request.url.include?("photo_picture") %>
			  <div id = "submenu">
			  	<%= t('.categories') %>
			  </div>
			  <ul class="nav nav-tabs nav-stacked">
				<% PhotoPicture.all.each do |category| %>
				  <li><%= link_to t(category.name),
				photo_picture_path(category) %></li>
				<% end %>
			  </ul>
		<% end %>
		</div>
		<div class="span9">
			<div id="flash">
				<% flash.each do |name, msg| %>
				  <div class="alert alert-<%= name == :notice ?
						  "success" : "error" %>">
				    <a class="close" data-dismiss="alert">×</a>
				    <%= msg %>
				  </div>
				<% end %>
			</div>
			<%= yield %>
		</div>
    	</div>

    </div>
</body>
      <%= debug(params) if Rails.env.development? %>
</html>
